---
import Header from '../components/Header.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Un-Minified version of simple.css -->
		<!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css"> -->
		<!-- Matcha.css -->
		<link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
		<!-- End -->
		<title>Astro</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>About Me</h1>
        <h2>sure is astro in here</h2>

        <p>I like astro so far but I wish I could pack it into the golang binary</p>
        <p>I think I still like raw HTML more just for the ease of use & flexibility</p>
        <p>This is still pretty nice and if I had to choose a javascript framework, this is certainly up there with Svelte</p>
        <p>I still have yet to see how adding reactivity would look like. I have seen that some people add React to the project, and that it's potentially even built in to some degree?!</p>
    </body>
</html>
